# ide files
/prog/lab5/.idea
/prog/lab5/lab5.iml
/prog/lab5/out

/prog/lab6/lab6-client/.idea
/prog/lab6/lab6-clinet/lab6.iml
/prog/lab6/lab6-client/out
/prog/lab6/lab6-server/.idea
/prog/lab6/lab6-server/lab6.iml
/prog/lab6/lab6-server/out

/prog/lab7/.idea
/prog/lab7/lab7.iml
/prog/lab7/out
/prog/lab7/database.config

/prog/lab8/.idea
/prog/lab8/lab8.iml
/prog/lab8/out
/prog/lab8/database.config
/prog/lab8/target

# for debug
prog/lab5/debug
prog/lab6/lab6-client/debug
prog/lab6/lab6-server/debug
prog/lab7/debug
prog/lab8/debug