# 5lab-prog

# ide files
/prog/lab5/.idea
/prog/lab5/lab5.iml
/prog/lab5/out

/prog/lab6/.idea
/prog/lab6/lab5.iml
/prog/lab6/out

# for debug
prog/lab5/debug
prog/lab6/debug

# not ready
prog/lab6/javadoc
prog/lab6/data
prog/lab6/lab6.jar